.app {
  margin: 16px;
}
.canvas {
  display: none;
}

.editor {
  display: flex;
}
.editor > * {
  flex-grow: 1;
  flex-basis: 0;
}

.editor__form {
  margin-left: 16px;
}

textarea {
  resize: none;
}

.thumb {
  display: inline-block;
  border: 3px solid transparent;
  cursor: pointer;
}

.thumb.thumb--selected {
  border-color: #999;
}

[type="radio"] {
  position: absolute;
  left: -9999px;
}
